streamlit==1.28.2
numpy==1.26.4
pillow==10.2.0
opencv-python-headless==4.8.1.78
pytesseract==0.3.10
easyocr==1.7.1
pyttsx3==2.90
gTTS==2.5.1
pygame==2.5.2
pandas==2.1.4
plotly==5.15.0
torch==2.1.2
torchvision==0.16.2